@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #0d0d0d;
  color: white;
  font-family: "NEXON Lv1 Gothic OTF";
  flex-direction: column;
  text-align: center;
  margin: 0 25%;
}

#title {
  display: flex;
  margin: 2vh 0 1vh;
  font-size: 2vw;
}

#title p {
  margin: 0 10px;
  font-weight: bold;
}

#game-name {
  font-size: 2.5vw;
  margin: 1vw 0;
}

#game-desc {
  font-size: 1vw;
  margin: 0;
}

hr {
  width: 100%;
  border: none;
  height: 2px;
  background: linear-gradient(
    to right,
    #a2d0f2 5%,
    #95fca8 25%,
    #e6de93 45%,
    #fcbd95 55%,
    #f2bfef 75%,
    #e6de93 95%
  );
}

#rule {
  margin: 3% 0;
  padding: 3% 3%;
  border-radius: 20px;
  background-color: white;
  color: #0d0d0d;
  text-align: left;
}

#rule h1 {
  text-align: center;
  margin: 0;
}

#user-answer {
  width: 45vw;
  height: 5vh;
  border: 1px solid white;
  border-radius: 1vw;
  text-align: center;
  font-size: 140%;
  margin-bottom: 4%;
}

#user-answer::-webkit-outer-spin-button,
#user-answer::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  background: none;
  border: 3px solid white;
  border-radius: 1vw;
  margin: 0 2% 2%;
  font-size: 2em;
  color: white;
  width: 6em;
  height: 2.2em;
}

button:hover {
  background-color: white;
  border: none;
  color: black;

  transition-duration: 0.5s;
  box-shadow: 0 5px rgba(117, 117, 117, 0.5);
}

button:active {
  box-shadow: 1px 1px 0 rgba(117, 117, 117, 0.5);
  position: relative;
  color: #fcbd95;
  top: 3px;
  transition-duration: 0s;
}

#result-area {
  margin: 0 0 3%;
  font-size: 1.5vw;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: #e6de93;
}
a:hover {
  color: #f2bfef;
}

@media screen and (max-width: 1024px) {
  body {
    margin: 0 10%;
  }

  #title {
    font-size: 4vw;
  }

  #game-name {
    font-size: 5vw;
  }

  #game-desc {
    display: none;
  }

  #user-answer {
    width: 70vw;
  }

  button {
    font-size: 1.5em;
  }

  #result-area {
    font-size: 1.5em;
  }
}
